<div style="padding-top: 10px"></div>
<div class="row">
    <div class="row">
        <table class="table table-hover table-striped carty-cart-table">
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th class="carty-cart-col-quantity">Quantity</th>
                <th class="carty-cart-col-spacer"></th>
                <th class="carty-cart-col-total">Total</th>
            </tr>
            {{#each products}}
            <tr>
                <td>{{name}}</td>
                <td>${{price_per_unit}}</td>
                <td><input data-role="quantity" data-product="{{id}}" type="text" class="form-control" value="{{quantity}}"/></td>
                <td></td>
                <td>${{total}}</td>
            </tr>
            {{/each}}
            <tr>
                <td class="carty-hidden-table-cell"></td>
                <td class="carty-hidden-table-cell"></td>
                <td class="carty-hidden-table-cell"></td>
                <td><strong>Subtotal</strong></td>
                <td>${{subtotal}}</td>
            </tr>
            <tr>
                <td class="carty-hidden-table-cell"></td>
                <td class="carty-hidden-table-cell"></td>
                <td class="carty-hidden-table-cell"></td>
                <td><strong>GST</strong></td>
                <td>${{gst}}</td>
            </tr>
            <tr>
                <td class="carty-hidden-table-cell"></td>
                <td class="carty-hidden-table-cell"></td>
                <td class="carty-hidden-table-cell"></td>
                <td><strong>PST</strong></td>
                <td>${{pst}}</td>
            </tr>
            <tr>
                <td class="carty-hidden-table-cell"></td>
                <td class="carty-hidden-table-cell"></td>
                <td class="carty-hidden-table-cell"></td>
                <td><strong>Grand Total</strong></td>
                <td>${{total}}</td>
            </tr>
        </table>
    </div>
</div>